<!--
  @author zhaolei
  Create: 2020/2/25 16:57
  Modified By:
  Description:
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<h1 th:text="${name} + 整合Thymeleaf已经success哈哈哈哈" ></h1>
<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    Hello, <strong>Dalaoyang!</strong>
</div>
</body>
</html>